# Contains all libraries that are needed for this project

# search api
tavily-python
load_dotenv

# web scrapping libraries
selenium
requests


# LLM apis
openai

# to load env files
python-dotenv

# langchain libraries
langchain
langchain_community
wikipedia